[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages] 
django = "*"
djangorestframework = "*"
django-role-permissions = "*"
python-decouple = "*"
dj-database-url = "*"
psycopg2-binary = "*"
gunicorn = "*"
pillow = "*"
python-barcode = "*"
pdfkit = "*"
jinja2 = "*"

[dev-packages]
ipython = "*"
neovim = "*"

[requires]
python_version = "3.9"
